body{
  margin: 0;
  padding: 30px 50px;
  font-family: sans-serif;
  background: azure;
}

* {
  padding: 0;
  margin: 0;
  transition: all .2s;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}